
.colorRed{
    width: 100px;
    height: 100px;
    background: red;
    margin: 5px;
}
.colorGreen{
    width: 100px;
    height: 100px;
    background: green;
    margin: 5px;
}

.myForm{
    margin-top: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
}
.input{
    margin: 5px;
    border: 1px solid black;
    padding: 5px 10px;
}
.input.error{
    border-color: red;
}

button{
    width: 150px;
    font-size: 12px;
    margin: 0 5px 10px 5px;
}