body {
    margin: 50px auto auto;
    width: 800px;
    height: 800px;
}

.formhed {
    width: 700px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.unitsmeasurement {
    width: 100px;
    height: 30px;
    font-size: 12px;

}

.productlist {
    margin: 0 auto;
    border: 1px solid black;
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: row;
    background: aliceblue;

}

.mysklad {
    width: 700px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.mysklad input {
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: darkgray;
    padding: 0 10px;
}

.newtov {

    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
}

.newtov button {
    width: 50px;
    height: 30px;
    font-size: 9px;
    background: khaki;


}

.newtov textarea {
    width: 150px;
    height: 30px;
    font-size: 9px;
    padding: 5px 10px;
}

.formhed input {
    width: 100px;
    height: 30px;
    font-size: 12px;
    background: darkgray;
    padding: 0 10px;

}

.nameproduct {
    width: 200px;
    height: auto;
    border: 1px solid gray;
}

.general {
    width: 100px;
    height: auto;
    border: 1px solid gray;
}

.number-product {

    list-style-type: none;
}

.price-coming {
    list-style-type: none;
}

.price-retail {
    list-style-type: none;
}

.price-wholesale {
    list-style-type: none;
}

.unit-product {
    list-style-type: none;
}

.nameproductfilter {
    width: 200px;
    height: auto;
    padding: 5px 10px;
}

h1 {
    margin: 50px auto 20px;
    text-align: center;
}

.formhed button {
    width: 50px;
    height: 30px;
    font-size: 9px;
    background: khaki;

}

.nameproductfilter {
    width: 150px;
    height: 30px;
    font-size: 9px;
}



